# LIGGER I ROOT MAPPEN
RewriteEngine On
RewriteBase /public/

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ $1 [NC,L]
RewriteRule ^.*$ index.php [NC,L]