<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Nyt webhotel - Her flytter snart en ny gæst ind</title>
	<link rel="stylesheet" type="text/css" href="screen.css" media="screen" />
</head>

<body>

<div id="message">
	<h1>Her flytter snart en ny gæst ind</h1>
	<h2><a href="https://linux5.testsider.dk:8443">Link til dit kontrolpanel</a></h2>
</div>
<a href="mailto:rjudith@falken.dk"></a>
</body>
</html>
