/**
 * CSS FOR STYLING MENU
 * MORE SPECIFIC STYLING IS LOCATED IN jquery-ui-1.8.6.custom.css
 */
.menu 
{
	background-color: #000;
	height: 25px;
	padding: 0px;
	margin: 0px;
}

.menu a:active,
.menu a:link,
.menu a:visited	
{
	color: #fff;
	text-decoration: none;
}

.menu a:hover
{
	text-decoration: underline;		
}

.menu li 
{
	list-style-type: none;
	display: inline;
	padding-right: 20px;
	width: 100px;
}

.navigation
{
	/*margin-bottom: 2px;*/
	/*padding: 2px;*/
	/**border: 1px solid yellow;/**/
	
}
