/**
 * CSS FOR STYLING UNIT PAGES
 */

.unit_list
{
    margin-left: 5px; 
    padding-bottom: 10px;
}

.unit_list span
{
    font-size: 120%;
    font-weight: bold;
}

.unit_list_logo
{
    height: 75px;
    float: left;
    margin-right: 10px;
}

/**
    UNIT DESCRIPTION
**/
.unitDetailsLogo
{
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

#unitDescriptionMain
{
    padding-top: 10px;
    
}

/**
    UNIT DESCRIPTION CALENDAR 
**/
.unitDescriptionCalendar
{
    
}