# LIGGER I PUBLIC MAPPEN
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ $1 [NC,L]
RewriteRule ^.*$ index.php [NC,L]

#RewriteEngine On
#RewriteBase /public/
#RewriteCond %{REQUEST_FILENAME} !-s
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^.*$ index.php [NC,L]

#RewriteEngine On
 
#RewriteRule ^\.htaccess$ - [F]
 
#RewriteCond %{REQUEST_URI} =""
#RewriteRule ^.*$ /public/index.php [NC,L]
 
#RewriteCond %{REQUEST_URI} !^/public/.*$
#RewriteRule ^(.*)$ /public/$1
 
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^.*$ - [NC,L]
 
#RewriteRule ^public/.*$ /public/index.php [NC,L]